/* Police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 30px;
    font-size: 150%
}

ul li {
    padding: 5px;
}

a {
    color:coral;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a:hover {
    color:blue;
}

h1 {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}