/* Police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 30px;
    font-size: 150%
}

ul li {
    padding: 5px;
}

a {
    color:coral;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a:hover {
    color:blue;
}

h1 {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Google Fonts*/
    color: #3b2a28;
}

h1 {
    color: #444444;
    font-weight: bold;
    padding: 40px 0 40px 0;
}

strong {
    color: #11303e;
    font-weight: 900;
}
div {
    margin: 30px 30px 10px 40px;
}

h2 {
    color: #38761d;
    font-family: 'Raleway', sans-serif; /* Google Fonts*/
    font-weight: bold;
    margin: 50px auto 50px 0;
    text-decoration: underline;
}

h3 {
    color: #444444;
}

span {
    color: #ea9999;
    font-weight: bold;
}

a {
    color: #5edafb;
}

.retour {
    color:rgb(10, 94, 239);
}