/* Mise à zéro des réglages du browser*/
* {
    margin: 0;
    padding: 0;
}

/* Police de caractères */
body {
    font-family: 'Roboto', sans-serif; /*Google Font*/
    margin-left: 100px;
}

/* En-tête */
h1 {
    font-size: 300%;
    margin: 30px
}

h2 {
    font-size: 200%;
    margin-bottom: 10px;
}

p {
    margin: 0 10px auto 0;
}

/* Liens */
.seances {
    font-size: 170%;
}

.seances {
    list-style-type: none; /*supprime le point d'une liste*/
    
}

.seances li a {
    text-decoration: none; /*supprime le soulignement*/
}
.seances li a {
    color: rgb(255, 157, 0);
    
}

.seances li a:hover {
    color: rgb(0, 98, 255);
    text-decoration: none; /*supprime le soulignement*/
}

.seance5 li {
    font-size: 150%;
    margin-left: 40px;
    list-style-type: disc;
}

.seance5 li a {
    text-decoration: none;
    color: rgb(255, 157, 0);

}

.seance5 li a:hover {
    color: rgb(0, 98, 255);
    text-decoration: none; /*supprime le soulignement*/
}