/*============================================
        Fonts
============================================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*===========================================
        Base Styles
 ===========================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*============================================
    Navigation Bar Styles (type selectors)
============================================*/
header {
    width: 100%;
    height: 80px;
    background-image:
            url("../../images/seance6/logo.png"),
            url("../../images/seance6/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: 150px, cover;
    background-position:
            top 20px left 200px, /* first image position */
            center;              /* second image position */

}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    width: 400px;
    height: 76px;
    margin-left: 1000px;

}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.nav a:hover {
    color: #304566;
}
.nav a:active{
    color: #fff;
}

/*============================================
        Web Page Styles
 ============================================*/








/*============================================
        Footer Styles
 ============================================*/
.footer-bar {
    width: 100%;
    height: 70px;
    background: rgb(37,55,127); /* linear gradient */
    background: linear-gradient(90deg, rgba(37,55,127,1) 0%, rgba(85,173,213,1) 100%); /* linear gradient */
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-top: 30px;
}