@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}
/* Style pour le texte à survoler */
#alerte {
    border-radius: 5px;
    padding: 10px;
    background-color: #cccccc;
    cursor: pointer;
}
