@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 95%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 5rem;
    color: #333;
    border-radius: 5px;
    background-color: #c2c7c1;
    height: 100px;
    padding: 0 10px;
}

