@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e3e2df;
}

.select-menu {
    width: 380px;
    margin: 150px auto;
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background-color: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn {
    transform: rotate(-180deg);
}
.select-menu .option {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

options .options:hover {
    background: #f2f2f2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option ..option-text {
    font-size: 18px;
    color: #333;
}