@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 50px;

}
/* .container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */

#toggle{
    width: 160px;
    height: 30px;
}
#element {
    display: none;
}
